/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*~~~~~css resetcode~~~~~*/
#creviewdiv {
  width: 1046px;
  height: 528px;
  margin: 56px 0px 0px 0px;
}

#creviewh1 {
  font-size: 18px;
  font-weight: bold;
}

#creviewdiv1 {
  margin: 37px 0px 0px 30px;
}

.creviewdiv2 {
  width: 1016px;
  height: 85px;
  margin: 8px 0px 0px 0px;
  padding: 4px 33px 0px 26px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}

#creviewul1 {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 26px 0px;

  font-size: 14px;
  color: #282828;
}

#creviewul2 {
  display: flex;
  justify-content: space-between;
}

#creviewul2 > li:first-child {
  font-size: 16px;
  color: #000000;
}

#creviewul2 > li:last-child {
  display: flex;
  gap: 12px;
}

#creview-cnumber {
  margin: 64px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
