/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*~~~~~css resetcode~~~~~*/
#inquiryviewdiv {
  min-width: 1200px;
  height: 960px;
}

#inquiryviewmain {
  width: 1113px;
  height: 592px;
  margin: 0px auto;
  padding: 80px 0px 0px 0px;
  box-sizing: border-box;
}

#inquiryviewdiv1 {
  width: 1113px;
  height: 84px;
  border-bottom: 1px solid #000000;
}

#inquiryviewdiv2 {
  width: 1109px;
  height: 146px;
}

#inquiryviewp {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 19px 16px;
}

#inquiryviewdiv2-1 {
  width: 1016px;
  height: 85px;
  margin: 0px 0px 0px 46px;
  padding: 0px 34px 0px 26px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
}

#inquiryviewul {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0px 0px 26px 0px;
}

#inquiryviewul1 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

#inquiryviewul1 > li {
  display: flex;
  gap: 11px;
}
